{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %}Canopées - Créer un utilisateur{% endblock %}

{% block body %}
    <div class="admin-custom-page">
        <div class="admin-custom-card">
            <div class="admin-login-header">
                <img src="{{ asset('assets/images/logo-canopees.png') }}" alt="Logo Canopées" class="admin-login-logo">
                <h1 class="admin-form-title">Créer un utilisateur</h1>
            </div>

            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}

            {{ form_start(form, {'attr': {'class': 'admin-login-form'}}) }}

                {{ form_row(form.name) }}
                {{ form_row(form.email) }}
                {{ form_row(form.roles) }}
                {{ form_row(form.password) }}

                <div class="button-wrapper">
                    <button type="submit" class="admin-button admin-button-secondary">
                        Créer l’utilisateur
                    </button>

                    <a href="{{ path('admin') }}" class="admin-link">
                        Retour au back-office
                    </a>
                </div>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}